{% extends 'base.html' %}
{% block title %}
    Batch Change
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <br><br><br>
            <h1 class="h3 mb-3 font-weight-normal">
                Batch Change Form
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}
            
            {{ form.month.label() }}
            {{ form.month(class="form-control", placeholder="Current Month")}}

            {{ form.new_batch_timing.label() }}
            {{ form.new_batch_timing(class="form-control", placeholder="New Batch Timing")}}
            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-success") }}
            
            <br>
            <div class="checkbox mb-3">
               <h6>Do not have an account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

        </form>
    </div>
</body>
{% endblock %}